/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */


/* Carousel base class */

.carousel {
    margin-bottom: 4rem;
}


/* Since positioning the image, we need to help out the caption */

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}


/* Declare heights because of positioning of img element */

.carousel-item {
    height: 32rem;
}

.carousel-item>img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}

.ebilgihead {
    background-color: purple;
    color: white;
}

.bg-menu {
    background-color: #0f457b!important;
    color: #f8f9fa!important;
}

.nav-link {
    background: 0 0;
    border: 0;
    border-radius: .25rem;
    color: white;
}

.text-dark {
    color: #f8f9fa!important;
}